/* adjust filters */
.btn-adjust {
    margin: 1px !important;
}

.search-adjust{
	height: 32px !important;
    width: 226px !important;
}

.date-adjust{
    margin: 1px !important;
	padding: 0.4rem 0.5rem !important;
	height: 32px !important;
    width: 226px !important;
    font-size: .9rem !important;
}

.border-right{
	border-right: solid #eaeaea 1px !important;
}

.search-adjust{
      height: 39px !important;
}

.arrow{
      padding-left: 27px !important;
}

.table-td{
      padding-top: 25px !important;
}

.green-value{
      color: LimeGreen !important;
}

.red-value{
      color: Red !important;
}

