/* Report Header classes  */
.RR_Report_Header {
	margin-bottom: 10px;
}

/* Report Layout Division classes */
.card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: -webkit-calc(0.25rem - 1px) -webkit-calc(0.25rem - 1px) 0 0;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}


/* Data Table classes */
.dataTableTitleDiv {
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataTableTitle {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
	font-size: 20px;
}

.rdThemeDataTable, .rdAgDataTable {
    border-spacing: 0px; 
}

.rdThemeDataTable > tr > td, .MoreInfoRow {
	background-color: #FFFFFF;
}

.iconPlusMinus {
	font-size: 125%;
	font-weight: bolder;
}

.rdThemeDataTableCell {
	border-bottom: 1px solid #f0f0f0;
}

table#dtReportBookmarks > tbody > tr > td.rdThemeDataTableCell {
	border-bottom: 1px solid #ffffff;
}

.dtReportBookmarks_Caption {
	background-color: White;
	color: #363B42;
	font-size: 100%;
	white-space: nowrap;
}

/* selectors for table cell values that exceed threshold. Must also over-ride alternating row selectors from Logi theme.css */
.overThreshold, 
tr.ThemeAlternatingRow td.overThreshold, 
.rdAg tr.ThemeAlternatingRow td.overThreshold, 
.rdAgDataTable tr.ThemeAlternatingRow td.overThreshold, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.overThreshold {
	background-color: #FFFB93;
}

.Threshold_1, 
tr.ThemeAlternatingRow td.Threshold_1, 
.rdAg tr.ThemeAlternatingRow td.Threshold_1, 
.rdAgDataTable tr.ThemeAlternatingRow td.Threshold_1, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.Threshold_1 {
	background-color: RGB(0,255,0);
} 

.Threshold_2, 
tr.ThemeAlternatingRow td.Threshold_2, 
.rdAg tr.ThemeAlternatingRow td.Threshold_2, 
.rdAgDataTable tr.ThemeAlternatingRow td.Threshold_2, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.Threshold_2 {
	background-color: RGB(255,255,0);
}

.Threshold_3, 
tr.ThemeAlternatingRow td.Threshold_3, 
.rdAg tr.ThemeAlternatingRow td.Threshold_3, 
.rdAgDataTable tr.ThemeAlternatingRow td.Threshold_3, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.Threshold_3 {
	background-color: RGB(250,150,30);
} 

.Threshold_4, 
tr.ThemeAlternatingRow td.Threshold_4, 
.rdAg tr.ThemeAlternatingRow td.Threshold_4, 
.rdAgDataTable tr.ThemeAlternatingRow td.Threshold_4, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.Threshold_4 {
	background-color: RGB(150,40,145);
} 

.Threshold_5, 
tr.ThemeAlternatingRow td.Threshold_5, 
.rdAg tr.ThemeAlternatingRow td.Threshold_5, 
.rdAgDataTable tr.ThemeAlternatingRow td.Threshold_5, 
.rdThemeDataTable tr.ThemeAlternatingRow > td.Threshold_5 {
	background-color: RGB(255,0,0);
}



/* User Input classes */
.inputSelectList {
	width: 225px;
}

/* User Input layout table classes */
.txtInputBlockHeader {
font-family: "Segoe UI", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight:500;
}

.tdInputBlockHeader {
	text-align: left;
	padding: 3px 0px;
}

.tdInputAlignLeft {
	text-align: left;
	padding: 3px 0px;
}

.tdInputAlignRight {
	text-align: right;
	padding: 3px 5px 3px 20px;
}

.tdInputSpacer {
	padding: 8px;
}

.tdInputExportDisplayLabel {
	font-weight: bold;
	vertical-align: top;
	text-align: right;
	padding-right: 8px;
	white-space: nowrap;
}

.tdInputExportDisplayValues {
	vertical-align: top;
	text-align: left;
}

/* bookmark table classes */

.tdBookmarkAction {
	padding: 2px 3px;
	width: 22px;
}

/* general */
.marginAuto {
	margin-left: auto;
 	margin-right: auto;
}


/* override from Theme.css*/
input[type="checkbox"] {
  margin: 1px;
  margin-top: 1px;
  border-radius: 5px;

}