/***
InfoGO+
***/


/* Main Framework */
	html {
		height: 100%;
	}

	body {
		background: rgb(245, 245, 245);
		margin: 0;
		padding: 0;
		position: relative;
	}

	body > form[name='rdForm'],
	body > form[name='rdForm'] > div#rdMainBody {
		height: 100%;
		position: absolute;
		display: block;
		width: 100%;
	}

	#igpContainer {
		height: 100%;
		position: relative;
	}

	#igpContainer > #igpSidebar {
		background: rgb(66, 37, 105);
		width: 25em;
		height: 100%;
		position: fixed;
		left: -24em;
		transition: ease-in-out all .1s;
	}

	#igpContainer > #igpSidebar > #igpSidebarContainer {
		width: calc(100% - 24px);
	}

	#igpContainer > #igpSidebar > #igpSidebarContainer img {
		max-width: 100%;
	}

	#igpContainer > #igpSidebar > #igpSidebarContainer img#igpLogo {
		padding: 1em;
	}

	#igpContainer > #igpSidebar > #igpSidebarContainer  #igpUserInfo .welcome-text{
		color: #FFF;
		display: block;
	}

	#igpContainer > #igpSidebar > #igpSidebarContainer  #igpUserInfo .username {
		font-size: 22px;
		color: #FFF;
		display: block;
		padding-bottom: .2em;
		text-transform: uppercase;
	}

	#igpContainer > #igpMainContent {
		height: 100%;
		position: relative;
		margin-left: 1em;
		padding: 0 1em 0 0;
		transition: ease-in-out all .1s;
	}

	/* Sidebar Open */
	#igpContainer > #igpSidebar.open {
		left: 0;
	}

	#igpContainer > #igpSidebar.open + #igpMainContent {
		margin-left: 25em;
	}

	#igpContainer > #igpMainContent td#colMenuIcon {
		padding: 0 1em;
	}

	/* User Info Container */
	#igpUserInfo {
		padding: 0 1em;
	}

	#igpUserInfo #igpAvatar {
		float: left;
		margin-right: .5em;
	}

	#igpUserInfo #igpUserInfoText {
		float: left;
	}
	
	#igpUserInfo #igpUserInfoText > a > span {
		color:rgb(242, 108, 63);	
	}

/* Action Buttons */
	#igpContainer > #igpMainContent .btn-create-report {
		background: rgb(242, 108, 63);
		border: 1px solid #fff;
		padding: .25em .5em;
		border-radius: 4px;
		margin-right: 1em;
		display: inline-block;
		transition: ease-in-out all .1s;
	}

	#igpContainer > #igpMainContent .btn-create-report:hover {
		opacity: .9;
	}


/* Search Bar */
	#igpContainer > #igpMainContent #igpSearchbarContainer input#igpSearchbar {
		border: 2px solid rgb(228, 228, 228);
		border-right: 0;
		border-radius: 4px 0 0 4px;
		padding: 1em;
		width: calc(100% - 6em);
		box-shadow: none;
		margin: 0;
	}

	#igpContainer > #igpMainContent #igpSearchbarContainer #btnSearch {
		border: 2px solid rgb(228, 228, 228);
		border-left: 1px solid rgb(228, 228, 228);
		background: rgb(223, 223, 223);
		border-radius: 0 4px 4px 0;
		padding: 1em;
		width: 6em;
		box-shadow: none;
		margin: 0;
		display: inline-block;
		text-align: center;
		cursor: pointer;
	}

	#igpContainer > #igpMainContent #igpSearchbarContainer #btnSearch:hover {
		background: rgb(242, 108, 63);
		border: 1px solid rgb(242, 108, 63);
		transition: ease-in-out all .1s;
	}

/* Tag Pills */
	ul.report-tag-list {
		list-style: none;
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline;
	}

	div.tag-list li {
		margin: 0 0 .25em;
	}

	ul.report-tag-list li, 
	div.tag-list li span {
		display: inline-block;
		background: rgba(228, 228, 228, 1);
		border-radius: 4px;
	}

	ul.report-tag-list li .tag-name,
	div.tag-list li span {
		padding: .3em .25em .3em .5em;
		display: inline-block;
		max-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}

	ul.report-tag-list li button.tag-remove {
		border: 0;
		padding: .7em;
		border-radius: 0 4px 4px 0;
		background: rgba(0, 0, 0, .1);
		cursor: pointer;
		font-size: 8px;
	}

	ul.report-tag-list li button.tag-remove:hover {
		background: rgb(242, 108, 63);
	}

	table#dtListReports ul.report-tag-list li {
		margin-bottom: .1em;
	}

	ul.report-tag-list li {
		margin-bottom: .4em;
	}

	#existingTagsScrollContainer {
		overflow-y: auto;
		max-height: 15em;
	}

/* Stylized Table */
	table.stylized-table {
		border: 2px solid rgb(224, 224, 224);
		border-radius: 4px;
		border-spacing: 0px !important;
		background: rgb(255, 255, 255);
	}

	/* Table Header */
	table.stylized-table > thead {
		color: rgb(83, 83, 83);
		text-transform: uppercase;
		font-size: larger;
		text-align: left;
	}

	table.stylized-table > thead > tr > th {
		font-weight: 500;
		border-right: 1px solid rgb(224, 224, 224);
		background: transparent;
		border-bottom: 2px solid rgb(224, 224, 224);
		padding: 1em;
	}

	table.stylized-table > thead > tr > th:last-child {
		border-right: 0;
	}

	/* Table Body */
	table.stylized-table > tbody > tr > td{
		padding: .5em;
	}
	
	table.stylized-table > tbody > tr:hover > td{
		background: #fafafa;
	}

/* Stylize Input Fields */
	input.form-control {
		border: 2px solid rgb(228, 228, 228);
		border-radius: 4px;
		padding: 1em;
		width: 100%;
		box-shadow: none;
		margin: 0;
	}

	.checkbox-list-inline ul li {
		display: inline-block;
	}

	.checkbox-list-inline ul li span {
		margin-left: 4px;
		padding-right: 1em;
	}

/* Main Navigation */
	.navigation-menu {
		width: calc(100% + 24px);
	}

	.navigation-menu .navigation-item {
		
	}

	.navigation-menu .navigation-item > a{
		display: block;
		padding: .75em;
		color: #FFF;
		font-size: 16px;
		transition: ease-in-out all .1s;
	}

	.navigation-menu .navigation-item .nav-item-label *{
		vertical-align: middle;
	}

	.navigation-menu .navigation-item .nav-item-label > img.half-margin-right {
		margin-right: .5em;
	}

	.navigation-menu .navigation-item .nav-item-label > img{
		max-height: 35px;
		vertical-align: middle;
		margin-right: 1em;
	}

	.navigation-menu .navigation-item > a:hover,
	.navigation-menu .navigation-item.active > a {
		border-right: 1em solid rgb(242, 108, 63);
		background: rgba(255, 255, 255, .1);
	}

/* Utilities */
	.no-padding {
		padding: 0;
	}

	.text-center{
		text-align: center;
	}

	.vertical-align-top {
		vertical-align: top;
	}

	.vertical-align-middle {
		vertical-align: middle;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0;
		padding: 0;
		text-align: left;
	}

	h1 {
		text-transform: uppercase;
		color: rgb(83, 83, 83);
	}

	h2 {
		text-transform: uppercase;
		color: rgb(83, 83, 83);
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.pull-right {
		float: right;
	}

	.full-height {
		height: 100%;
	}

	.negative-margin-right {
		margin-right: -1em;
	}

	.full-width {
		width: 100%;
	}

	.position-relative {
		position: relative;
	}